body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.google {
    order: none;
    outline: none;
    height: 60px;
    background: #1c8adb;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 50px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover {
    color: #39dc79;
}