* {
    margin: 0px;
    padding: 0px;
}

.poststructure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.poststructure img {
    width: 100%;
    min-height: 80%;
    object-fit: contain;
}

.postboxa {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    padding: 10px;
    object-fit: contain;
}