.box {
    display: flex;
    height: 38vh;
    width: 100%;
    justify-content: space-around;
    margin-left: 0px;
    margin-top: 20px;
    position: relative;
    z-index: -1;
    background-color: black;
    align-items: center;
}

.containera {
    width: 40%;
    height: 95%;
    padding: 10px;
    margin-left: 5px;
    object-fit: contain;
}

.containerb {
    margin-right: 5px;
    background-color: red;
    width: 60%;
    height: 95%;
}

.left-box-title {
    color: blanchedalmond;
    font-weight: bolder;
    font-family: sans-serif;
}

.ingredients {
    font-weight: bold;
    font-size: 15px;
}

.ingredients__style {
    font-size: 11px;
    font-weight: bold;
}