.structure {
    display: flex;
    flex-direction: column;
}

.search {
    margin-top: 10px;
    margin-left: 20%;
    display: flex;
}

.search-bar {
    border: solid black 3px;
}

.search-button {}